html, body {
  height: 100%;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, white, blue);
}
.faixa-titulo{
  text-align: center;
  background: linear-gradient( to bottom, , blue);
}
main {
  flex: 1;
  width: 90%;
  margin: auto;
}
form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.logo {
  text-align: center;
  opacity: 0.85;
  background: transparent;
}
.logo img {
  height: 250px;  
  width: auto;
  opacity: 0.7;
  background: transparent;
    
}

.lista {
  display: flex;
  gap: 20px;
}
.campo {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.linha {
  display: flex;
  flex-direction: column;
}
.rodape {
  text-align: center;
  padding: 20px;
  background: linear-gradient(to bottom,, blue);
  color: black;
}
.bloco {
  display: none;
  flex-direction: column;
  gap: 10px;
}
.bloco.ativo {
  display: flex;
}